<div class="row">
  <div class="col-md-8 offset-md-5">
    <button class="btn btn-secondary btn-sm container w-25" data-toggle="collapse"
            href="#collapseExample" aria-expanded="false"
            aria-controls="collapseExample">Quick navigation
    </button>
  </div>
</div>

<br>

<!-- All questions navbar -->
<div class="row ">
  <div class="col-md-5 offset-md-4">
    <div class="collapse w-auto" id="collapseExample">
      <div class="navbar container navbar-expand-lg rounded-pill navbar-dark bg-dark">
        <a class="navbar-brand">
          <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }">
              <a [routerLink]="['/users/all']" class="nav-link" style="cursor: pointer">
                All Users</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }">
              <a [routerLink]="['/questions/all']" class="nav-link" style="cursor: pointer">
                All questions</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }">
              <a [routerLink]="['/users/info']" class="nav-link" style="cursor: pointer">
                Users results</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Users scores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" tabindex="-1"
                 aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
