<div class="row" *ngIf="question.qns">
  <div class="col s6 ">
    <div class="card" style="width: 16rem; margin-left: 520px">
      <div class="card-body">
        <span style="margin: 21px; color: green">
        <i class="fa fa-clock-o" aria-hidden="true" style="color: #0c1722"></i>
          Time Elapsed : {{question.displayTimeElapsed()}}</span>
      </div>
    </div>
    <div class="row" style="margin-left: 140px; margin-right: 140px">
      <h5 class="col s10">Question Progress</h5>
      <h5 class="right-align">{{question.qnProgress + 1}}/{{(question.qns).length}}</h5>
    </div>
    <div class="progress" style="margin-left: 140px; margin-right: 140px">
      <div class="progress-bar progress-bar-success progress-bar-striped active"
           [ngStyle]="{'width.%':(question.qnProgress)*10}">
        {{(question.qnProgress) * 10}}%
      </div>
    </div>
    <br>
    <div class="card" style="background-color: #31373e; margin-left: 120px; margin-right: 120px">
      <div class="card-content">
        <p class="card-title" style="color: white; margin: 20px">Question
          {{(question.qnProgress + 1)}} :</p>
        <h5>
          <p style="color: white; margin: 20px">
            <strong>{{question.qns[question.qnProgress].question}}</strong>
          </p>
        </h5>
      </div>
      <div *ngIf="question.qns[question.qnProgress].type === 'fill in'"
           class="card" style="margin: 10px;"> {{onChangeTickets()}}
        <p class="list-group list-group-flush">
          <ng-container *ngFor="let ticket of t.controls; let i = index">
            <div [formGroup]="ticket" class="list-group-item list-group-item-action">
              <label for="{{i}}">({{i + 1 }})</label>
              <input type="text" id="{{i}}" formControlName="name"  class="form-control"/>
              <div *ngIf="ticket['controls'].name.errors" class="invalid-feedback">
                <div *ngIf="ticket['controls'].name.errors.required">Name is required</div>
              </div>
            </div>
          </ng-container>
        </p>
        <br>

        <div class="btn-toolbar row mx-auto" role="toolbar"
             aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button (click)="test1()" type="button"
                    class="btn btn-outline-success">prev</button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button (click)="test()" type="button" class="btn btn-outline-info">
              next</button>
          </div>
        </div>

      </div>
      <div *ngIf="question.qns[question.qnProgress].type !== 'fill in'"
           class="card" style="margin: 10px;">
        <a class="list-group list-group-flush">
          <ng-container *ngFor="let option of question.qns[question.qnProgress]['answers'];
          let i = index">
            <a *ngIf="option != null "
               class="list-group-item list-group-item-action"
               onmousemove="this.style.backgroundColor = 'rgba(0, 255, 0, 0.3)';
                      this.style.color='green'; this.style.fontSize= '3.7vh';"
               onmouseout="this.style.backgroundColor = ''; this.style.color='';
                  this.style.fontSize= '';"
               style="cursor:pointer; "
               (click)="answer(i,
                option['isCorrect'])">
              {{option.option}}
            </a>
          </ng-container>
        </a>

      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>



