<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<div class="row" *ngIf="question.qns">
  <div class="col s6 ">
    <span>Time Elapsed : {{question.displayTimeElapsed()}}</span>
    <div class="row">
      <h5 class="col s10">Question Progress</h5>
      <h5 class="col s2 right-align">{{question.qnProgress + 1}}/5</h5>
    </div>
    <div class="progress">
      <div class="determinate" style="width: 70%" [style.width.%]="(question.qnProgress+1)*20"></div>
    </div>
    <div class="card " style="background-color: #31373e">
      <div class="card-content white-text">
        <span class="card-title">Question :</span>
        <h5>
          <p><strong>{{question.qns[question.qnProgress].question}}</strong></p>
        </h5>
      </div>
      <div class="card" style="margin: 10px;">
        <a class="list-group list-group-flush">
          <ng-container *ngFor="let option of question.qns[question.qnProgress]['answers'];
          let i = index">
            <a *ngIf="option != null"
               class="list-group-item list-group-item-action test"
               onmousemove="this.style.backgroundColor = 'rgba(0, 255, 0, 0.3)';
                      this.style.color='green'; this.style.fontSize= '3.7vh';"
               onmouseout="this.style.backgroundColor = ''; this.style.color='';
                  this.style.fontSize= '';"
               style="cursor:pointer; "
               (click)="answer(question.qns[question.qnProgress]['_id'],
                option['isCorrect'])">
              {{option.option}}
            </a>
          </ng-container>
        </a>
      </div>
    </div>

  </div>
</div>


<!--
<div class="row" *ngIf="question.qns" style="margin: 10px">
  <div class="col s8 offset-s2">
    <span>Time Elapsed : {{question.displayTimeElapsed()}}</span>
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="list-group-item list-group-item-secondary" >{{question.qnProgress + 1}} of {{(question.qns).length}} </span>
        <p class="list-group-item active"> Question : {{question.qns[question.qnProgress].question}}</p>
      </div>
      <div class="card">
        <a class="list-group list-group-flush">
          <ng-container *ngFor="let option of question.qns[question.qnProgress]['answers'];
          let i = index">
            <a *ngIf="option != null"
               class="list-group-item list-group-item-action "
               onmouseover="this.style.color='red';" onmouseout="this.style.color='';"
                (click)="answer(question.qns[question.qnProgress]['_id'],
                option['isCorrect'])">
              {{option.option}}
            </a>
          </ng-container>
        </a>
      </div>
    </div>
  </div>
</div>
-->

