<div *ngIf="user" style="width:200px; margin:0 auto;">
  <!--Grid column-->
  <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
    <!--Card-->
    <div class="card testimonial-card"
         style="width:400px; margin-left:-110px; margin-top: 4px">
      <!--Background color-->
      <div class="card-up blue-gradient">
      </div>
      <!--Avatar-->
      <div class="avatar mx-auto white" style="margin-top: 8px">
        <img src="../../../assets/img/1.jpg" class="rounded-circle img-fluid" alt=""
        style="height: 150px">
      </div>
      <div class="card-body">
        <!--Name-->
        <h4 class="font-weight-bold mb-4">{{user["username"]}}</h4>
        <hr>
        <!--Quotation-->
        <p class="dark-grey-text mt-4"><i class="fa fa-quote-left pr-2"></i>

          <strong style="margin-right: 36px">Id : </strong> {{user["userId"]}}
          <br>
          <strong style="margin-right: 34px"> Email : </strong> {{user["email"]}}
          <br>
          <strong> Username : </strong> {{user["username"]}}
          <br>
          <strong style="margin-right: 44px"> Role : </strong> {{user["role"]}}
          <i style="margin-left: 140px" class="fa fa-quote-right pr-2"></i>
        </p>
      </div>
    </div>
    <!--Card-->
    <br>
  </div>
  <button type="button" class="btn btn-primary" data-toggle="modal"
          data-target="#exampleModal" data-whatever="@mdo"
          style="width:130px; margin-left:40px;">Update
  </button>
  <br>
  <br>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update your profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #profileForm="ngForm" (submit)="onUpdateUser()">
          <div class="form-group">
            <label for="username" class="col-form-label"></label>
            <input #usernameInput="ngModel" [class.is-invalid]="usernameInput.invalid &&
                    usernameInput.touched"
                   class="form-control" type="text" id="username"
                   [(ngModel)]="username" name="username"
                   placeholder="Email address or Username" value="{{username}}" required>
            <small class="text-danger" [class.d-none]="usernameInput.valid ||
          usernameInput.untouched">A username is required</small>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="col-form-label"></label>
            <input #emailInput="ngModel" [class.is-invalid]="emailInput.invalid &&
                    emailInput.touched"
                   class="form-control" type="email" id="inputEmail"
                   [(ngModel)]="email" name="email"
                   placeholder="Email address" value="{{email}}" required>
            <small class="text-danger" [class.d-none]="emailInput.valid ||
          emailInput.untouched">An Email is required</small>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-form-label"></label>
            <input #passwordInput="ngModel" [class.is-invalid]="passwordInput.invalid &&
                    passwordInput.touched"
                   class="form-control" type="text" id="inputPassword"
                   [(ngModel)]="password" name="password"
                   placeholder="Password" required>
            <small class="text-danger" [class.d-none]="passwordInput.valid ||
          passwordInput.untouched">A password is required</small>
          </div>
          <div class="form-group">

            <label for="PasswordConfirm" class="col-form-label"></label>
            <input #inputConfirmPassword="ngModel" pattern="{{passwordInput.value}}"
                   [class.is-invalid]="inputConfirmPassword.invalid &&
                   inputConfirmPassword.touched"
                   class="form-control" type="text" id="PasswordConfirm"
                   [(ngModel)]="confirmPassword" name="confirmPassword"
                   placeholder="Confirm password" required>

            <div *ngIf="inputConfirmPassword.errors && (inputConfirmPassword.invalid ||
                        inputConfirmPassword.touched)">
              <small class="text-danger" *ngIf="inputConfirmPassword.errors.pattern">
                Passwords do not match</small>
              <small class="text-danger" *ngIf="inputConfirmPassword.errors.required
                      && inputConfirmPassword.touched">
                Please confirm your password</small>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button appAddClass type="submit" class="btn btn-primary"
                    [disabled]="profileForm.form.invalid">Submit</button>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
