<div *ngIf="user" style="width:200px; margin:0 auto;">
  <!--Grid column-->
  <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
    <!--Card-->
    <div class="card testimonial-card"
         style="width:400px; margin-left:-110px; margin-top: 4px">
      <!--Background color-->
      <div class="card-up blue-gradient">
      </div>
      <!--Avatar-->
      <div class="avatar mx-auto white" style="margin-top: 8px">
        <img src="../../../assets/img/1.jpg" class="rounded-circle img-fluid" alt="">
      </div>
      <div class="card-body">
        <!--Name-->
        <h4 class="font-weight-bold mb-4">Anna Aston</h4>
        <hr>
        <!--Quotation-->
        <p class="dark-grey-text mt-4"><i class="fa fa-quote-left pr-2"></i>
          <strong> Email : </strong>: {{user["email"]}}
          <br>
          <strong>Id : </strong> {{user["userId"]}}
          <i class="fa fa-quote-right pr-2"></i>
        </p>
      </div>
    </div>
    <!--Card-->
    <br>
  </div>
  <button type="submit" class="btn btn-primary" data-toggle="modal"
          data-target="#exampleModal" data-whatever="@mdo"
          style="width:130px; margin-left:40px;">Update
  </button>
  <br>
  <br>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update your profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="username" class="col-form-label"></label>
            <input type="text" class="form-control" id="username" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="email" class="col-form-label"></label>
            <input type="text" class="form-control" id="email" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="password" class="col-form-label"></label>
            <input type="text" class="form-control" id="password"
                   placeholder="Password">
          </div>
          <div class="form-group">
            <label for="passwordC" class="col-form-label"></label>
            <input type="text" class="form-control" id="passwordC"
                   placeholder="Confirm Password">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>


<!--
<div *ngIf="user">
  <p></p>
  <div class="card" style="width: 25rem; margin-left: 10px">
    <div class="card-body">
      <i class="fa fa-user-circle-o fa-4x" aria-hidden="true"
         style="text-align: center"></i>
      <h5 class="card-title">Id : {{user["userId"]}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Username : Danny</h6>
      <ul class="list-group align-self-auto">
        <li class="list-group-item active">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <strong> Email</strong>: {{user["email"]}}
        </li>
        <li class="list-group-item">
          <i class="fa fa-unlock-alt" aria-hidden="true"></i>
          <strong> Password</strong>: {{user["password"]}}
        </li>
      </ul>
    </div>
  </div>

</div>
-->
<!-- <button (click)="onClick($event)"> test </button>
  <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
-->
