<br>
<body>
<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-7">
      <div class="form d-flex justify-content-between">
        <div class="image">
          <img src="../../../assets/img/login.jpg"  alt="">
        </div>
        <form #signUpForm="ngForm"action="" class="my-form" (submit)="onRegisterSubmit()">
          <h4 class="font-weight-bold mb-3">Create an Account</h4>
          <p class="mdb-color-text">It's free and anyone can join!</p>

          <!-- Username -->
          <div class="md-form md-outline">
            <label for="username">
            </label>
            <input #usernameInput="ngModel" [class.is-invalid]="usernameInput.invalid &&
                    usernameInput.touched"
                   class="form-control" type="text" id="username"
                   [(ngModel)]="username" name="username"
                   placeholder="username" required>
            <small class="text-danger" [class.d-none]="usernameInput.valid ||
          usernameInput.untouched">A username is required</small>
          </div>

          <!-- Email address -->
          <div class="md-form md-outline">
            <label for="inputEmail">
            </label>
            <input #emailInput="ngModel" [class.is-invalid]="emailInput.invalid &&
                    emailInput.touched"
                   class="form-control" type="email" id="inputEmail"
                   [(ngModel)]="email" name="email"
                   placeholder="Email address" required>
            <small class="text-danger" [class.d-none]="emailInput.valid ||
          emailInput.untouched">An Email is required</small>
          </div>

          <!-- Password -->
          <div class="md-form md-outline">
            <label for="inputPassword"></label>
            <input #passwordInput="ngModel" [class.is-invalid]="passwordInput.invalid &&
                    passwordInput.touched"
                   class="form-control" type="password" id="inputPassword"
                   [(ngModel)]="password" name="password"
                   placeholder="Password" required>
            <small class="text-danger" [class.d-none]="passwordInput.valid ||
          passwordInput.untouched">A password is required</small>
          </div>
          <br>
          <div class="space">
            <div class="float-right">
              <button [disabled]="signUpForm.form.invalid" class="btn btn-rounded" type="submit">Sign Up</button>
            </div>
            <div class="float-left">
              <a class="nav-link"
                 style="text-decoration: underline; text-align: center;
                 color: #6582B0"
                 [routerLink]="['/login']">Already have an account ? Login</a>
            </div>
          </div>
          <br>
          <hr>
          <a class="link" href="#">Forgot password? Click here.</a>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
<br>

