<div *ngIf="reviews.rev">

  <div class="container m-5 p-5 border border-bottom">

    <button *ngIf="authService.loggedIn()" type="submit" class="btn btn-primary text-center" data-toggle="modal"
            data-target="#exampleModal" data-whatever="@mdo"
            style="width:165px; margin-left:455px; margin-top: 0">Add a review
    </button>

    <section>
      <br>
      <div class="text-center font-weight-bold"><span>{{(reviews.rev).length}}</span> comments</div>

      <ng-container *ngFor="let review of reviews.rev; let i = index">
        <div class="media d-block d-md-flex mt-4">
          <img class="card-img-64 d-flex mx-auto mb-3"
               src="../../../assets/img/1.jpg"
               style="width: 10%" alt="Generic placeholder image">
          <div class="media-body text-center text-md-left ml-md-3 ml-0">
          <div id="test" class="font-weight-bold my-0">
            {{review["author"]}}
            <span>
              <i class="fa fa-pencil" aria-hidden="true"
                 style="color: blue; margin-left: 690px"></i>
            <i class="fa fa-trash " aria-hidden="true"
               style="color: red; margin-left: 30px"></i>
            </span>
            <br>
            Rating :
            <ngb-rating [(rate)]='review["rating"]' [readonly]="readonly"></ngb-rating>
            </div>
            <p class="blockquote-footer my-0">
              {{(review["CreatedOn"]).toLocaleString('fr-BE').split(' à')[0]}}
              at {{(review["CreatedOn"]).toLocaleString('fr-BE').split(' à')[1]}}
            </p>
            {{review["reviewText"]}}
          </div>
        </div>
        <hr>
      </ng-container>

    </section>


  </div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a review </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #reviewForm="ngForm" action="" class="my-form" (submit)="onReviewSubmit()">
          Rating :
          <ngb-rating [(rate)]="currentRate"></ngb-rating>
          <br>
          <label for="inputRating">
            <input #rateInput="ngModel" [class.is-invalid]="rateInput.invalid &&
                    rateInput.touched" class="form-control" id="inputRating"
                   [(ngModel)]="currentRate" type="number" placeholder="0"
                   name="currentRate" style="width: 67px; height: 35px" required>
          </label>
          out of 10
          <br>
          Rate: <b>{{currentRate}}</b>
          <br>
          <label for="reviewComment">Your comment</label>
          <textarea #textAreaElement="ngModel" [class.is-invalid]="textAreaElement.invalid &&
                    textAreaElement.touched"
                    class="form-control" id="reviewComment" rows="4"
                    [(ngModel)]="reviewText" name="reviewText"
                    style="width: 440px" required></textarea>
          <small class="text-danger" [class.d-none]="textAreaElement.valid ||
          textAreaElement.untouched">Review Text is required</small>
          <br>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button appAddClass [disabled]="reviewForm.form.invalid" class="btn btn-primary" type="submit">submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!reviews.rev"
     style="margin-bottom: 302px; margin-left: 20px; text-align: center; margin-top: 50px">
  <i class="fa fa-exclamation-triangle fa-4x" style="color: red"></i>
  <h3>There are no reviews</h3>
</div>

<!--

<section>

  <div class="text-center font-weight-bold"><span>4</span> comments</div>

  <div class="media d-block d-md-flex mt-4">
    <img class="card-img-64 d-flex mx-auto mb-3"
         src="https://mdbootstrap.com/img/Photos/Avatars/img (20).jpg"
         style="width: 10%" alt="Generic placeholder image">
    <div class="media-body text-center text-md-left ml-md-3 ml-0">
      <p class="font-weight-bold my-0">
        Miley Steward
      </p>
      Many of our components require the use of JavaScript to function.
      Specifically, they require jQuery, Popper.js, and our own JavaScript plugins.
      Place the following  near the end of your pages, right before the closing
      tag, to enable them. jQuery must come first, then Popper.js, and then our
      JavaScript plugins.
      <div class="media d-block d-md-flex mt-4">
        <img class="card-img-64 d-flex mx-auto mb-3 rounded-circle img-fluid"
             src="../../../assets/img/1.jpg" alt="Generic placeholder image"
             style="width: 10%">
        <div class="media-body text-center text-md-left ml-md-3 ml-0">
          <p class="font-weight-bold my-0">
            Tommy Smith
          </p>
          Curious which components explicitly require jQuery, our JS, and Popper.js?
          Click the show components link below. If you’re at all unsure about the general
          page structure, keep reading for an example page template.
        </div>
      </div>


      <div class="form-group mt-4">
        <label for="quickReplyFormComment">Your comment</label>
        <textarea class="form-control" id="quickReplyFormComment" rows="3"
                  style="width: 540px"></textarea>

        <div class="text-center my-4">
          <button class="btn btn-info btn-sm" type="submit">Post</button>
        </div>
      </div>

      <div class="media d-block d-md-flex mt-3">
        <img class="card-img-64 d-flex mx-auto mb-3"
             src="../../../assets/img/1.jpg" alt="Generic placeholder image"
             style="width: 10%">
        <div class="media-body text-center text-md-left ml-md-3 ml-0">
          <p class="font-weight-bold my-0">
            Sylvester the Cat
          </p>
          For improved cross-browser rendering, we use Reboot to correct inconsistencies across browsers
          and devices while providing slightly more opinionated resets to common HTML elements.
        </div>
      </div>
    </div>
  </div>
  <div class="media d-block d-md-flex mt-3">
    <img class="card-img-64 d-flex mx-auto mb-3"
         src="https://mdbootstrap.com/img/Photos/Avatars/img (30).jpg"
         style="width: 10%" alt="Generic placeholder image">
    <div class="media-body text-center text-md-left ml-md-3 ml-0">
      <p class="font-weight-bold my-0">
        Caroline Horwitz
      </p>
      For more straightforward sizing in CSS, we switch the global box-sizing value
      from content-box to border-box. This ensures padding does not affect the final
      computed width of an element, but it can cause problems with some third party
      software like Google Maps and Google Custom Search Engine.
    </div>
  </div>

</section>


-->
