<div *ngIf="reviews.rev">

  <div class="container m-5 p-5 border border-bottom">

    <div *ngIf="authService.loggedIn()">
      <button  (click)="modelTitle($event.target)" name="createReview" type="submit"
              class="btn btn-primary text-center" data-toggle="modal"
              data-target="#addReviewModel" data-whatever="@mdo"
              style="width:165px; margin-left:455px; margin-top: 0">Add a review
      </button>
    </div>


    <section>
      <br>
      <div class="text-center font-weight-bold"><span>{{(reviews.rev).length}}
      </span> comments</div>

      <ng-container *ngFor="let review of reviews.rev; let i = index">
        <div class="media d-block d-md-flex mt-4">
          <img class="card-img-64 d-flex mx-auto mb-3"
               src="../../../assets/img/1.jpg"
               style="width: 10%" alt="Generic placeholder image">
          <div class="media-body text-center text-md-left ml-md-3 ml-0">
            <div id="test" class="font-weight-bold my-0">
              {{review["author"]}}

              <span *ngIf="authService.loggedIn() && review['author'] === loggedInUser">

                <a (click)="modelTitle($event.target)" data-toggle="modal"
                   data-target="#addReviewModel" data-whatever="@mdo">

                  <i id="{{review['_id']}}" name="updateReview" class="fa fa-pencil"
                     aria-hidden="true" onmousemove="this.style.cursor = 'pointer';
                     this.style.fontSize= '4.7vh'" onmouseout="this.style.fontSize= ''"
                     style="color: blue; margin-left: 690px"></i>
                </a>

                <a (click)="getDeleteId($event.target)" data-toggle="modal"
                   data-target="#deleteModel" data-whatever="@mdo">

                  <i  title="{{review['_id']}}" class="fa fa-trash {{review['_ids']}}"
                     aria-hidden="true" onmousemove="this.style.cursor = 'pointer';
                     this.style.fontSize= '4.7vh'" onmouseout="this.style.fontSize= ''"
                     style="color: red; margin-left: 30px"></i>

                </a>
              </span>
              <br>
              Rating :
              <ngb-rating [(rate)]='review["rating"]' [readonly]="readonly"></ngb-rating>
            </div>
            <p class="blockquote-footer my-0">
              {{(review["CreatedOn"]).toLocaleString('fr-BE').split(' à')[0]}}
              at {{(review["CreatedOn"]).toLocaleString('fr-BE').split(' à')[1]}}
            </p>
            {{review["reviewText"]}}
          </div>
        </div>
        <hr>
      </ng-container>
    </section>
  </div>

</div>

<div class="modal fade" id="addReviewModel" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #reviewForm="ngForm" action="" class="my-form" (submit)="choose()">
          Rating :
          <ngb-rating [(rate)]="currentRate"></ngb-rating>
          <br>
          <label for="inputRating">
            <input #rateInput="ngModel" [class.is-invalid]="rateInput.invalid &&
                    rateInput.touched" class="form-control" id="inputRating"
                   [(ngModel)]="currentRate" type="number" placeholder="0"
                   name="currentRate" style="width: 67px; height: 35px" required>
          </label>
          out of 10
          <br>
          Rate: <b>{{currentRate}}</b>
          <br>
          <label for="reviewComment">Your comment</label>
          <textarea #textAreaElement="ngModel" [class.is-invalid]="textAreaElement.invalid
          && textAreaElement.touched" class="form-control" id="reviewComment" rows="4"
                    [(ngModel)]="reviewText" name="reviewText"
                    style="width: 440px" required></textarea>
          <small class="text-danger" [class.d-none]="textAreaElement.valid ||
          textAreaElement.untouched">Review Text is required</small>
          <br>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Close</button>
            <button appAddClass [disabled]="reviewForm.form.invalid"
                    class="btn btn-primary" type="submit">submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModel" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirm Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="modal-title" style="text-align: center">
          <strong>Are you sure?</strong></h5>
        <br>
        <p>You are about to delete this comment, this process is irreversible !</p>
        <p>Do you want to proceed ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-dismiss="modal">Close
        </button>
        <button appAddClass (click)="onDeleteReview()" type="button"
                class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!reviews.rev"
     style="margin-bottom: 302px; margin-left: 20px; text-align: center;
     margin-top: 50px">
  <i class="fa fa-exclamation-triangle fa-4x" style="color: red"></i>
  <h3>There are no reviews</h3>
</div>
