<div class="container mb-5">

  <!-- Grid row -->
  <div class="row">

    <div class="col-md-12">

      <h3 class="mb-4">All Users</h3>

    </div>

    <ng-container *ngFor="let user of users; let i = index">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
        <!--Card-->
        <div class="card testimonial-card">
          <!--Background color-->
          <div class="card-up info-color"></div>
          <!--Avatar-->
          <div class="avatar mx-auto white" style="margin-top: 8px">
            <img src="../../../assets/img/{{i + 1}}.jpg" class="rounded-circle img-fluid" alt="">
          </div>
          <div class="card-body">
            <!--Name-->
            <h4 class="font-weight-bold mb-4">{{user["email"]}}</h4>
            <hr>
            <!--Quotation-->
            <p class="dark-grey-text mt-4"><i class="fa fa-quote-left pr-2"></i>
              <strong>Id : </strong> {{user["_id"]}}
              <i class="fa fa-quote-right pr-2"></i>
            </p>
            <hr>
            <button type="button" class="btn btn-primary btn-sm">
              <i class="fa fa-pencil" aria-hidden="true"
              style="color: black"></i> Update</button>
            <button type="button" class="btn btn-secondary btn btn-danger btn-sm"
                    style="margin-left: 145px;">
              <i class="fa fa-trash " aria-hidden="true"
                 style="color: black;"></i> Delete
            </button>
          </div>
        </div>
        <br>
        <!--Card-->
      </div>
      <!--Grid column-->
    </ng-container>


  </div>
  <!-- Grid row -->

</div>




