<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item " [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/home']">
          <i class="fa fa-home "></i> Home</a>
      </li>
      <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/register']">
          <i class="fa fa-user-plus"></i> Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor:pointer;" [routerLink]="['/home']">
          <i class="fa fa-envelope" ></i>
          Contact
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">
          <i class="fa fa-address-card"></i> About</a>
      </li>
    </ul>
  </div>
  <div class="mx-auto order-0">
    <a class="navbar-brand mx-auto" [routerLink]="['/home']">Teacher App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li *ngIf="authService.loggedIn()" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <h6 class="dropdown-header">
            <i class="fa fa-cogs"> </i> Settings</h6>
          <a class="dropdown-item" [routerLink]="['/users/all']">
            All Users</a>
          <a class="dropdown-item" [routerLink]="['/home']">Another action</a>
          <a class="dropdown-item" [routerLink]="['/home']">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
      </li>
      <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/questions']">
          <i class="fa fa-list-ol"></i> QCM</a>
      </li>
      <li *ngIf="authService.loggedIn()" class="nav-item ">
        <a class="nav-link " style="cursor:pointer;" (click)="onSelect()">
          <i class="fa fa-user"></i> Profile</a>
      </li>
      <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/login']">
          <i class="fa fa-sign-in"></i> Login</a>
      </li>
      <li *ngIf="authService.loggedIn()" class="nav-item">
        <a id=`${authService.getId()}` class="nav-link" (click)="onLogOutClick()" href="#">
          <i class="fa fa-sign-out"></i>Logout</a>
      </li>
    </ul>
  </div>
</nav>


<!--

 ********


 <div>
  <nav class="navbar navbar-dark bg-dark navbar-expand-sm ">
    <i class="glyphicon glyphicon-search"></i>
    <div class="navbar-header">
      <a class="navbar-brand" href="#"> Teacher App</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="navbar-nav navbar-left">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard']">dashboard</a>
        </li>
      </ul>
    </div>
  </nav>
</div>


    -->

